
@{
    ViewBag.Title = "Add";
}

@{
    if (!string.IsNullOrEmpty(User.Identity.Name))
    { <form action="/Answer/Add" method="post">
            <div class="body-content ">
                <h2 class="page-header">Answer</h2>
                <textarea class="form-control" type="text" name="AAnswer" placeholder="Enter Answer"></textarea>
            </div>
            <input class="form-control" type="hidden" name="ACreated" value="@DateTime.Now" />
            <input class="form-control" type="hidden" name="Votes" value="0" />

            @foreach (var i in ViewBag.user)
            {
                if (i.UName == User.Identity.Name)
                {
                    <input class="form-control" type="hidden" name="UId" value="@i.UId" />
                    break;
                }

            }
            <input class="form-control" type="hidden" name="UId" value=1005 />
            <input class="form-control" type="hidden" name="QuestionQId" value=@ViewBag.Qid />
            <div>
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    }
}
